<div>
    <div class="header">
        <div class="statusbar" [ngClass]="meeting.state"></div>
        <div class="contant-container">
            <div class="info-container">
                <h2 class="meeting-date">{{ meeting.date | date:'EE dd.MM.  HH:mm' }}</h2>
                <h3 class="grp-name">{{ meeting.grpName }}</h3>
            </div>
            <div class="mbr-container" style="border-top: solid 1px var(--border)" *ngIf="declinedMembers.length > 0">
                <span *ngFor="let member of declinedMembers" [ngClass]="member.status">{{ member.name }}</span>
            </div>
            <div class="mbr-container" *ngIf="waitingMembers.length > 0">
                <span *ngFor="let member of waitingMembers" [ngClass]="member.status">{{ member.name }}</span>
            </div>
            <div class="mbr-container" *ngIf="acceptedMembers.length > 0">
                <span *ngFor="let member of acceptedMembers" [ngClass]="member.status">{{ member.name }}</span>
            </div>
        </div>
    </div>
    <h3 class="headline">Ausweichtermine</h3>


    <div *ngFor="let reschedule of reschedules" class="header" style="margin: 2vw 0;" [ngClass]="reschedule.state">

        <div class="statusbar" [ngClass]="reschedule.state"></div>
        <div class="contant-container">
            <div class="info-container" (click)="overlay = true; selectedMeeting = reschedule">
                <h2 class="meeting-date">{{ reschedule.date | date:'EE dd.MM.  HH:mm' }}</h2>
                <h3 class="grp-name">{{ reschedule.grpName }}</h3>
            </div>
            <div class="btn-container">
                <button *ngIf="reschedule.members[0].status == 'waiting' || reschedule.members[0].status == 'declined'" (click)="accept(reschedule)" style="background-color: var(--accepted);">Accept</button>
                <button *ngIf="reschedule.members[0].status == 'waiting' || reschedule.members[0].status == 'accepted'" (click)="decline(reschedule)" style="background-color: var(--declined);">Decline</button>
            </div>
            <div class="mbr-container" style="border-top: solid 1px var(--border)">
                <span *ngFor="let member of reschedule.members" [ngClass]="member.status">{{ member.name }}</span>
            </div>
        </div>
        
    </div>
    <div class="add-container">
        <p-calendar #calendar [hideOnDateTimeSelect]="false" [showTime]="true" class="add" [(ngModel)]="date" [touchUI]="true" [readonlyInput]="true">
            <ng-template pTemplate="footer">
                <div style="display: flex; justify-content: space-evenly;">
                    <p-button (click)="calendar.hideOverlay()" label="Cancle" [outlined]="true" severity="danger"></p-button>
                    <p-button (click)="createReschedule()" label="Create" [outlined]="true" severity="success"></p-button>
                </div>
                
            </ng-template>
        </p-calendar>
        <i class="pi pi-plus add addbtn"></i>
    </div>
</div>
<app-msg-box *ngIf="overlay" [msg]="'Soll der Termin übernommen werden?'" [headline]="'Übernehmen'" (accepted)="reschedule($event)"></app-msg-box>