<div class="container">
    <div class="header">
        <div class="grp-container">
            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between">
                <input type="text" name="" id="" class="name" [(ngModel)]="group.name">
                <button *ngIf="isAdmin" class="edit-btn" (click)="save()">Save</button>
            </div>
            <input *ngIf="isAdmin" type="text" name="" id="" class="imgLink" [(ngModel)]="group.imgLink">
            <div *ngIf="group.id" class="mbr-container">
                <span class="member" *ngFor="let member of group.members" [ngClass]="member.status">{{ member.name }}</span>
            </div>
        </div>
        <div class="container-img">
            <img *ngIf="group.imgLink" [src]="group.imgLink">
        </div>
    </div>
    <div *ngIf="group.id" class="header">
        <div class="lnk-container" style="padding: 1vw;">
            <i style="font-size: 3vw; color: var(--waiting-brd-color);" class="pi pi-copy" (click)="copyLink(grpLink.innerHTML)"></i>
            <div class="vl"></div>
            <a #grpLink style="overflow: hidden; align-self: center; font-size: 3vw;">{{ joinLink }}</a>
        </div>
        <div class="container-btn">
            <button (click)="leaveGroup()" routerLink="/groups">Leave</button>
        </div>
    </div>
    
</div>