<div class="container">
    <div class="header">
        <div class="grp-container">
            <input type="text" name="" id="" class="name" value="{{ group.name }}">
            <div class="mbr-container">
                <span *ngFor="let member of group.members">{{ member.name }}</span>
            </div>
        </div>
        <div class="container-img">
            <img *ngIf="group.imgLink" [src]="group.imgLink">
        </div>
    </div>
    <div class="header">
        <div class="lnk-container" style="padding: 1vw; margin-bottom: 1vw;">
            <i style="font-size: 1.5rem; color: var(--waiting-brd-color);" class="pi pi-copy" (click)="copyLink(grpLink.innerHTML)"></i>
            <div class="vl"></div>
            <a #grpLink style="overflow: hidden; align-self: center;">{{ joinLink }}</a>
        </div>
        <div class="container-btn">
            <button size="small" (click)="leaveGroup()" routerLink="/groups">Leave</button>
        </div>
    </div>
    
</div>