<div class="container">
    <div class="header">
        <div class="grp-container">
            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between">
                <input type="text" name="" id="" class="name" [(ngModel)]="group.name">
                <button *ngIf="isAdmin" class="edit-btn" (click)="save()">Save</button>
            </div>
            <input *ngIf="isAdmin" type="text" name="" id="" class="imgLink" [(ngModel)]="group.imgLink">
            <div *ngIf="group.id" class="mbr-container">
                <span class="member" *ngFor="let member of group.members" [ngClass]="member.status">{{ member.name }}</span>
            </div>
        </div>
        <div class="container-img">
            <img *ngIf="group.imgLink" [src]="group.imgLink">
        </div>
    </div>
    <div *ngIf="group.id" class="header">
        <div class="lnk-container" style="padding: 1vw;">
            <i style="font-size: 3vw; color: var(--waiting-brd-color);" class="pi pi-copy" (click)="copyLink(grpLink.innerHTML)"></i>
            <div class="vl"></div>
            <a #grpLink style="overflow: hidden; align-self: center; font-size: 3vw;">{{ joinLink }}</a>
        </div>
        <div class="container-btn">
            <button (click)="leaveGroup()" routerLink="/groups" [innerText]="isAdmin ? 'Delete' : 'Leave'"></button>
        </div>
    </div>  
        <div>
            <div *ngFor="let schedule of group.schedules; let i = index">
            <div style="border-bottom: 1px solid var(--waiting-brd-color); margin: 0 2vw "></div>
            <div class="schedule">
                <p-calendar #calendar [id]="'calendar'+i" [hideOnDateTimeSelect]="false" [showTime]="true" class="calendar" [ngModel]="schedule.startDate" [touchUI]="true" [readonlyInput]="true">
                    <ng-template pTemplate="footer">
                        <div style="display: flex; justify-content: space-evenly;">
                            <p-button (click)="calendar.hideOverlay()" label="Cancle" [outlined]="true" severity="danger"></p-button>
                            <p-button (click)="editSchedule(schedule, i)" label="Save" [outlined]="true" severity="success"></p-button>
                        </div>
                        
                    </ng-template>
                </p-calendar>
                <span style="grid-column: 1; grid-row: 1" class="scheduletxt">{{ schedule.startDate | date:'EEEE' }}</span>
                <span style="grid-column: 2; grid-row: 1" class="scheduletxt">{{ schedule.startDate | date:'HH:mm' }}</span>
                <span *ngIf="!isAdmin" style="grid-column: 3; grid-row: 1" class="scheduletxt">{{ schedule.repeat }}</span>
                <div *ngIf="isAdmin" style="grid-column: 3; grid-row: 1; margin-right: auto; width: 100%; padding: 0.5vw 0vw;">
                    <select [(ngModel)]="schedule.repeat">
                        <option value="none">None</option>
                        <option value="weekly">Weekly</option>
                        <option value="biWeekly">BiWeekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button *ngIf="isAdmin" (click)="delSchedule(schedule)">Delete</button>
                </div>  
            </div>            
        </div>
        <div *ngIf="isAdmin" style="display: flex; flex-direction: column;">
            <div style="border-bottom: 1px solid var(--waiting-brd-color); margin: 0 2vw;"></div>
            <button style="height: 5vw; align-self: center; width: 30%; margin: 1vw;background-color: var(--accepted-brd-color);" (click)="newSchedule()">Add Schedule</button>
        </div>
    </div>  
</div>