.container{
    width: 100%;

    border-radius: 0.5rem;
    background-color: var(--background);
}
.header{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.container-img{
    display: flex;
    max-width: 30%;
}
img{
    max-width: 100%;
    
    object-fit: cover;
    border-radius: 10%;

    padding: 0.5rem;
}
.grp-container{
    display: flex;
    flex-direction: column;

    margin: 0 0.5rem;
    width: 66%;
}
.name{
    color: var(--main-font-color);
    margin: 0.25rem 0;
    font-size: 1.5rem;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    width: 100%;

    border: none;
    border-bottom: solid 1px;

    border-color: var(--border) !important;
    background-color: var(--background);
}
.imgLink{
    color: var(--main-font-color);
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    width: 100%;

    border: none;
    border-bottom: solid 1px;

    border-color: var(--border) !important;
    background-color: var(--background);
}
.edit-btn{
    width: 25%;
    margin-left: 0.5rem;
    align-self: center;
    background-color: var(--action);
    font-size: 0.9rem;
}
.mbr-container{
    margin-bottom: 0.25rem;
    display: flex;
    flex-wrap: wrap;
}
.member{
    height: fit-content;

    color: var(--main-font-color);
    font-family: var(--font-off);
    font-size: 0.75rem;
    font-weight: 400;

    border: solid;
    border-color: var(--main-acc-grey);
    border-width: 1px;
    border-radius: 0.25rem;

    margin: 0.1rem;
    padding: 0.1rem 0.25rem;
}
.vl {
  border-left: 1px solid var(--border);
  height: 1rem;
  margin: 0 0.25rem;
}
.lnk-container{
    max-width: 65%;
    border: solid;
    border-width: 1px;
    border-radius: 0.25rem;

    display: flex;
    justify-content: space-between;

    border-color: var(--border);
    background-color: var(--background);

    margin: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-btn{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{

    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--declined);

    color: var(--main-font-color);
    font-family: var(--font-off);
    font-size: 0.9rem;
}
.admin{
    border-color: #ff8000;
}
.schedule{
    display: grid; 
    grid-template-columns: 27% 18% 25% 30%;
    flex-direction: row;
    align-items: center;
}
.schedule button{
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
}
.schedule span{
    margin: 0.25rem 0 0.25rem 0.5rem;
}
.calendar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}
select{
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    color: var(--main-font-color);
}
select:focus{
    outline:none;
}
select option{
    background-color: var(--background);
    font-size: 1rem;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    color: var(--main-font-color);
}
.scheduletxt{
    color: var(--main-font-color);
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    width: 100%;
}