<!-- <div class="container" [ngClass]="meeting.state">
    <div style="display: flex; justify-content: space-between;">
        <h2>{{ meeting.name }}</h2>
        <div style="display: flex;">
            <h2 class="date">{{ meeting.date | date:'EE dd.MM  HH:mm'}}</h2>
        </div>
    </div>
    <div style="display: flex;">
        <div class="left-container">
            <div class="mbr-container">
                <span *ngFor="let member of meeting.members" [ngClass]="member.status">{{ member.name }}</span>
            </div>
        </div>
            <div class="btn-container">
                <i *ngIf="(meeting.members[0].status === 'waiting' && meeting.state != 'declined') || meeting.members[0].status === 'declined'" class="pi pi-check" (click)="accept()"></i>
                <i *ngIf="meeting.members[0].status === 'waiting' || meeting.members[0].status === 'accepted'" class="pi pi-times" (click)="decline()"></i>
                <i *ngIf="meeting.state === 'declined'" class="pi pi-calendar-plus" [routerLink]="['/reschedule', dataService.getMeetingID(meeting)]" (click)="onReschedule()" ></i>
            </div>
    </div>
</div> -->

<div class="container">
    <div class="top-container">
        <h2>{{ meeting.grpName }}</h2>
        <h2 class="date">{{ meeting.date | date:'EE dd.MM  HH:mm'}}</h2>

    </div>
    <hr [ngClass]="meeting.state">
    <div class="btm-container">
        <div class="mbr-container">
            <span *ngFor="let member of meeting.members" [ngClass]="member.status">{{ member.name }}</span>
        </div>
        <div class="btn-container">
            <i *ngIf="(meeting.members[0].status === 'waiting' && meeting.state != 'declined') || meeting.members[0].status === 'declined'" class="pi pi-check" style="background-color: var(--accepted-brd-color)" (click)="accept()"></i>
            <i *ngIf="meeting.members[0].status === 'waiting' || meeting.members[0].status === 'accepted'" class="pi pi-times" style="background-color: var(--declined-brd-color)" (click)="decline()"></i>
            <i *ngIf="meeting.state === 'declined'" class="pi pi-calendar-plus" [routerLink]="['/reschedule', dataService.getMeetingID(meeting)]" style="background-color: rgb(137, 116, 255)" (click)="onReschedule()" ></i>
        </div>
    </div>
</div>